.pagina-inicio-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: calc(100vh - 60px); 
  /*
  border-width: 3px;
  border-color: rgb(233, 129, 9);
  border-style: solid;
  */
}


.titulo{

    border-width: 1px;
    border-style: solid;
    border-radius: 1px;
    border-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.prodrelacionado {
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  border-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 200px;
  height: 200px;
  object-fit: cover; 
  padding-top: 10px;
  padding-left: 10px;
  margin-left: -10px;
}

.imgcalcarel {
  width: 90px;
  height: 90px;
}