.navbar
{
display: flex
;
justify-content: space-between
;
align-items: center;
background: #1e1e1e;
padding: 12px 24px;
}


.navbar-logo
{
color: white;
font-size: 20px;
font-weight: bold;
}

.navbar-links
{
display: flex;
gap: 16px;
list-style: none;
margin: 0;
padding: 0;
}

.navbar-links
a
{
color: white;
text-decoration: none;
}

.navbar-links a:hover
{
text-decoration: underline;
}

.navbar ul a.active
{
color: rgb(34 197 94);
}


