.navbar {
  display: flex;
  align-items: center;
  background: #1e1e1e;
  padding: 12px 24px;
  border-width: 2px;
  border-style: solid;
  border-color: aqua;
}

.navbar-links {
  display: flex;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.navbar ul a.active {
  color: rgb(34 197 94);
}

.iconsimg {
  width: 30px;
  height: 30px;
}

.icons-navbar {
  margin-left: auto;
}
