/*botoes 
#logo {
  top: 0;
  font-size: 20px;
}

#busca {
  top: 0;
  margin-left: 50%;
  margin-right: 50%;
}

#login {
  top: 0;
  margin-left: 65%;
}

#carrinho {
  top: 0;
  margin-left: 75%;
}

/*titulos */

#tiulorelacionados {
  text-align: center;
  margin-top: auto;
}

.pagina-produto-container {
  /* Ativa os super-poderes de alinhamento */
  display: flex;
  
  /* Diz para os poderes alinharem em coluna (um em cima do outro) */
  flex-direction: column;

  /* IMPORTANTE: Força a mochila a ter a altura da tela 
     (descontando sua barra de navegação. 
     Ajuste 60px para a altura exata da sua navbar!)
  */
  min-height: calc(100vh - 60px); 
}

/*divs */
#produto {
  border-radius: 8px; /* Cantos arredondados */
  box-sizing: border-box;
  border-width: 3px;
  border-color: rgb(44, 235, 6);
  border-style: solid;

}

#relacionados {
  display: flex;
  gap: 16px;
  border-width: 3px;
  border-color: rgb(1, 73, 228);
  border-style: solid;
}

#detalhes {
  border-color: aliceblue;
  border-width: 1px;
  border-style: solid;
}

#lista-detalhes
{
    text-align: right;
    padding-right: 20px;
}
.prodrelacionado {
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  border-color: aliceblue;
}
