/*botoes 
#logo {
  top: 0;
  font-size: 20px;
}

#busca {
  top: 0;
  margin-left: 50%;
  margin-right: 50%;
}

#login {
  top: 0;
  margin-left: 65%;
}

#carrinho {
  top: 0;
  margin-left: 75%;
}

/*titulos */

#tiulorelacionados {
  text-align: center;
}

/*divs */
#produto {
  border-radius: 8px; /* Cantos arredondados */
  box-sizing: border-box;
  border-width: 3px;
  border-color: rgb(44, 235, 6);
  border-style: solid;

}

#relacionados {
  display: grid;
  justify-content: bottom;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

#detalhes
{
    border-color: aliceblue;
    border-width: 1px;
    border-style: solid;
}



.prodrelacionado {
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  border-color: aliceblue;
}
