.pagina-produto-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: calc(100vh - 60px); 
  /*
  border-width: 3px;
  border-color: rgb(233, 129, 9);
  border-style: solid;
  */
}

/*divs */
#produto {
  border-radius: 8px; /* Cantos arredondados */
  box-sizing: border-box;
  /*border-width: 3px;
  border-color: rgb(44, 235, 6);
  border-style: solid;
  */
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
}

#relacionados {
  display: flex;
  gap: 16px;
  border-width: 3px;
  /*a
  border-color: rgb(1, 73, 228);
  border-style: solid;
  */
  justify-content: center;

}

#detalhes {
  /*
  border-color: rgb(20, 114, 196);
  border-width: 1px;
  border-style: solid;
  */
  padding-right: 90px;
}

#lista-detalhes
{
    text-align: right;
    padding-right: 20px;
}
.prodrelacionado {
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  border-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*imagens */
.imgcalca {
  width: 200px;
  height: 200px;
  object-fit: cover; 
  padding-top: 10px;
  padding-left: 10px;
}

.imgcalcarel {
  width: 90px;
  height: 90px;
}

/* titulos */

#titulorel
{
  margin-top: auto;
  text-align: center;
}