.pagina-produto-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: calc(100vh - 60px);
  /*
  border-width: 3px;
  border-color: rgb(233, 129, 9);
  border-style: solid;
  */
}

/*divs */
#produto {
  border-radius: 8px; /* Cantos arredondados */
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
}

#relacionados {
  display: flex;
  gap: 16px;
  justify-content: center;
}

#detalhes {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 90px;
}

#preco
{
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 35%;
  border-style: solid;
  border-color: antiquewhite;
  border-width: 2px;
}
#adicionar-carrinho{
  align-items: bottom;
}
#lista-detalhes {
  padding-right: 20px;
}
.prodrelacionado {
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
  border-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*imagens */
.imgcalca {
  width: 13%;
  height: 13%;
  object-fit: cover;
  padding-top: 2%;
  padding-left: 14%;
}

.imgcalcarel {
  width: 150px;
  height: 150px;
}

/* titulos */

#titulorel {
  margin-top: auto;
  text-align: center;
}
